*{
  font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}



img{
  max-width:100%;
  height:auto;
}

body{
  margin:0;
  overflow-x:hidden;
}

.navbar{
  padding:18px 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  
}

.logo{
  font-weight:700;
  color:#4f39f6
;
  font-size:35px;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:#333;
  font-size:20px;
  transition:.3s;
}

.nav-links a:hover{
  color:#4f39f6;
}

.cart{
  font-size:25px;
  cursor:pointer;
}

.hero{
  height:520px;
  background:url("images/banner-image.png") center/cover no-repeat;
  position:relative;
  display:flex;
  align-items:center;
}

.hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    90deg,
    rgba(20,25,40,0.85),
    rgba(20,25,40,0.5),
    rgba(20,25,40,0.1)
  );
}

.hero-content{
  position:relative;
  color:#fff;
  max-width:600px;
  margin-left:180px;
}

.hero h1{
  font-size:48px;
  font-weight:700;
  margin-bottom:15px;
}

.hero p{
  font-size:25px;
  line-height:1.6;
  margin-bottom:25px;
  color:#dcdcdc;
}

.btn{
  background:#4f39f6;
  border:none;
  padding:12px 28px;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
  font-size:14px;
  transition:.3s;
}

.btn:hover{
  background:#4353ff;
}

.why{
  padding:70px 40px;
  text-align:center;
}

.why h2{
  font-size:28px;
  margin-bottom:10px;
}

.why p{
  color:#777;
  margin-bottom:40px;
  font-size: 20px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  background:#fff;
  width:180px;
  padding:30px 20px;
  border-radius:12px;
  box-shadow:0 6px 18px rgba(0,0,0,0.06);
  transition:.3s;
  text-align:left;          
  position:relative;
  margin-top: 30px;
}

.card:hover{
  transform:translateY(-6px);
}


.icon{
  width:45px;
  height:45px;
  background:#eef0ff;
  color:#4f39f6;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:10px;
  font-size:20px;
  margin-bottom:15px;  
  margin-top: -50px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  border:  1px solid #4f39f6;
}


.card h4{
  margin-bottom:8px;
  font-weight:700;
  font-size: 20px;
}

.card p{
  font-size:15px;
  color:#777;
  line-height:1.6;
}

.trending{
  font-size:28px;
  text-align:center;
  margin:40px auto;
}

/* GRID */
.product-grid{
  display:flex;
  gap:25px;
  flex-wrap:wrap;
  justify-content:center;
  padding:0 20px;
}

/* CARD */


.product-card{
  background:#fff;
  width:300px;
  border-radius:12px;
  box-shadow:0 6px 18px rgba(0,0,0,0.08);
  overflow:hidden;
  transition:.3s;
}

.product-card:hover{
  transform:translateY(-6px);
}

/* IMAGE */
.product-img{
  background:#eef0f3;
  padding:25px;
  text-align:center;
}

.product-img img{
  height:180px;
  object-fit:contain;
}

/* INFO */
.product-info{
  padding:18px;
}


.category{
  font-size:12px;
  background:#eef0ff;
  color:#4f39f6;
  padding:4px 8px;
  border-radius:6px;
}

.rating{
  float:right;
  font-size:13px;
  color:#666;
}
.fa-star{
  color: goldenrod;
}
.product-info h4{
  margin:12px 0;
  font-size:16px;
  font-weight:600;
}

.price{
  font-size:18px;
  font-weight:700;
  margin-bottom:15px;
}

/* BUTTONS */
.product-btns{
  display:flex;
  gap:10px;
}

.details{
  flex:1;
  padding:8px;
  border:1px solid #ddd;
  background:#fff;
  border-radius:6px;
  cursor:pointer;
}

.add{
  flex:1;
  padding:8px;
  border:none;
  background:#4f39f6;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
}

.add:hover{
  background:#4353ff;
}

.active{
  background:black;
  color:white;
}

/* ===== FOOTER ===== */

.footer {
  background: #1f2a3a;
  color: #cbd5e1;
  padding-top: 60px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 40px;
  padding: 0 40px;
}

/* Columns */
.footer-col h2 {
  color: #7c8cff;
  margin-bottom: 15px;
}

.footer-col h4 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  color: #9aa4b2;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #9aa4b2;
  font-size: 14px;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
}

.newsletter button {
  background: #6c63ff;
  border: none;
  padding: 10px 16px;
  color: white;
  border-radius:  6px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #584ff5;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 50px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom p {
  font-size: 13px;
  color: #9aa4b2;
}

/* Social Icons */
.socials i {
  margin-left: 15px;
  color: #9aa4b2;
  cursor: pointer;
  transition: 0.3s;
}

.socials i:hover {
  color: white;
}

.modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.hidden{
  display:none;
}

.modal-content{
  background:#fff;
  width:90%;
  max-width:750px;
  border-radius:14px;
  padding:30px;
  position:relative;
  animation:fadeIn .3s ease;
  box-shadow:0 20px 60px rgba(0,0,0,.25);
}


#close-modal{
  position:absolute;
  right:20px;
  top:15px;
  font-size:26px;
  cursor:pointer;
}

.modal-product{
  display:flex;
  gap:25px;
  align-items:center;
  flex-wrap:wrap;
}


.modal-product img{
  width:220px;
  height:220px;
  object-fit:contain;
}

.modal-info h2{
  margin-bottom:10px;
}

.modal-info p{
  color:#555;
  margin:10px 0;
}

.modal-price{
  font-size:22px;
  font-weight:700;
  margin:10px 0;
}

@keyframes fadeIn{
  from{opacity:0; transform:scale(.9);}
  to{opacity:1; transform:scale(1);}
}


@media (max-width:768px){

  .navbar{
    padding:15px 20px;
    flex-wrap:wrap;
  }

  .nav-links{
    width:100%;
    justify-content:center;
    margin-top:10px;
    gap:15px;
  }

  .logo{
    font-size:26px;
  }

}

@media (max-width:768px){

  .hero{
    height:auto;
    padding:80px 20px;
  }

  .hero-content{
    margin-left:0;
    text-align:center;
    max-width:100%;
  }

  .hero h1{
    font-size:32px;
  }

  .hero p{
    font-size:18px;
  }

}

@media (max-width:768px){

  .cards{
    gap:20px;
  }

  .card{
    width:100%;
    max-width:320px;
  }

}

@media (max-width:1024px){
  .product-card{
    width:45%;
  }
}

@media (max-width:768px){
  .product-card{
    width:100%;
    max-width:350px;
    margin:auto;
  }
}


@media (max-width:900px){

  .footer-container{
    grid-template-columns:1fr 1fr;
    gap:30px;
  }

}

@media (max-width:600px){

  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
  }

  .footer-bottom{
    flex-direction:column;
    gap:10px;
    text-align:center;
  }

}


@media(max-width:768px){
  .modal-product{
    flex-direction:column;
    text-align:center;
  }
}